/* Общие стили */
html, body {
    height: 100%;
}
body {
    background: #222 url("../img/Poltava1909-1949a.jpg") 50% 50% no-repeat;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.main {
    top: 75px;
    background: #dcdcdc;
    width: 800px;
    min-height: 400px;
    height: 60%;
    margin: 0 auto;
    box-shadow: 2px 2px 15px 10px #444;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.panel-left {
    width: 200px;
    height: 100%;
    float: left;
    background: #222;
    padding: 0 15px 0 15px;
    color: #efefef;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}
.panel-left h1 {
    font-size: 1.5em;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: #222;
    padding: 0 15px 0 15px;
    font-size: 0.8em;

}
.content {
    padding: 15px;
}
.hidden {
    display: none;
}
.fleft {
    float: left;
}
/* Запрос имени пользователя + правила */
.row-spec {
    overflow: hidden;
}
.cell-spec {
    float: left;
    width: 100%;
}
.cell-spec-25 { width: 25%; }
.cell-spec-50 { width: 50%; }
.cell-spec-75 { width: 75%; }

.cell-spec-micro {
    font-size: 0.6em;
    line-height: 1.1em;
}
/* Игра */

.user,
.opponent {
    float: left;
    padding: 0px 30px 20px 30px;
}
.head {
    height: 60px;
    overflow: hidden;
}
.name {
    font-weight: bold;
    color: #444;
    margin: 0;
    font-size: 0.8em;
}
.field {
    border-collapse: collapse;
    display: table;
    background: #fff;
}
.field.active {
    box-shadow: 0 0 15px 10px lightgreen;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color='#90EE90', Direction=45, Strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color='#90EE90', Direction=135, Strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color='#90EE90', Direction=225, Strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color='#90EE90', Direction=315, Strength=6);
}
.row {
    overflow: hidden;
    display: table-row;
}
.cell {
    display: table-cell;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid #79a6de;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cell-micro {
    height: 8px;
    width: 8px;
}
.cell.ship {
    background: green;
}
.cell.hit {
    background: red;
}
.cell.miss {
    text-align: center;
    color: #898989;
    background: lightgrey;
}

